.card{
    border: 1px solid black;
    height: 100px;
    width: 100px;
    margin: 10px;
    float: left;
}

.cardnext{

    clear: left;
}

.carddisplay{
    margin: auto;
    width: 50%;
    margin-top: 100px;
}
